.contact-blocks {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 0 1em;
}

.contact-block {
	margin: 1.25em 2em 0 2em;

	text-align: center;
	background: var(--theme-7);
	border-radius: 0.25em;
	font-size: 12pt;

	padding: 0.25em 0.75em;
	box-shadow: .125em .125em .125em #444;
}

.contact-block:first-child,
.contact-block:nth-child(2) {
	width: 135px;
	margin-left: 1em;
	margin-right: 1em;
}

.contact-block:nth-child(2) {
	break-after: always;
}

.contact-block,
.contact-block a {
	color: var(--theme-1);
	text-decoration: none;
}

.contact-block img {
	width: 100px;
	height: 100px;
	display: inline-block;
}